<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduler</title>
</head>
<body>
    <form action="/add" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">

        <label for="tel">Phone Number:</label>
       <input type="number" name="tel" id="number">

    <label for="event">Event:</label>
    <input type="date" id="event" name="event">

    <label for="msg">Message:</label>
    <input type="text" id="msg" name="message">



       <button type="submit">Submit</button>

    </form>
</body>
</html>